<h2>Mis Solicitudes de Aprobacion</h2>

<table class="table table-bordered table-striped">
	<thead>
	  <tr>
	    <th>ID</th>
	    <th>Empresa</th>
	    <th>Solicitante</th>
	    <th>Fecha</th>
	    <th>Estado</th>
	    <th>Comentario</th>
	    <th></th>
	  </tr>
	</thead>
	<tbody>
	#foreach($p in $purchases)
	  <tr>
	    <td>$p.Id</td>
	    <td>$p.Company.Name</td>
	    <td>#if ($p.NameUserRequest) $p.NameUserRequest #else $p.UserRequest #end</td>
	    <td>$p.DateRequest</td>
	    <td>#if ($p.Status) $p.Status #else - #end</td>
	    <td>#if ($p.QuantityComment > 0) <a class="btn-small btn-info" data-toggle="modal" href="#Modal$p.Id" >Comentarios</a> #else - #end</td>
	    <td>
	    	#if ($p.Status == $open) <a class="btn-small btn-warning" href=/purchase/approver.rails?idpurchase=$p.Id>Por Aprobacion</a> #else <a class="btn-small btn-success" href='/purchase/view.rails?idpurchase=$p.Id'>Ver</a> #end
	    </td>
	  </tr>
		#if($p.QuantityComment > 0)
			<div class="modal hide" id="Modal$p.Id">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">x</button>
					<h3>Comentarios</h3>
				</div>
				<div class="modal-body">
					#foreach($pc in $p.PurchaseComments)
						<p>$pc.UserComment : $pc.Comment</p>
					#end
				</div>
				<div class="modal-footer">
					<a href="#" class="btn" data-dismiss="modal">Cerra</a>
				</div>
			</div>
		#end
	#end
	</tbody>
</table>