<h2> Tiene una solicitud para recepcionar</h2>
<dl class="dl-horizontal">
	<dt>ID : </dt><dd>$purchase.Id</dd>
	<dt>Empresa : </dt><dd>$purchase.Company.Name</dd>
	<dt>Solicitante : </dt><dd>#if ($purchase.NameUserRequest) $purchase.NameUserRequest #else $purchase.UserRequest #end</dd>
	<dt>Fecha : </dt><dd>$purchase.DateRequest</dd>
	<!--<dt>Presupuesto : </dt><dd>#if ($budget) $budget.Value #end</dd>-->
<table class="table table-bordered table-striped">
	<thead>
	  <tr>
	    <th>Producto</th>
	    <th>Comentario</th>
	    <th>Precio</th>
	    <th>Cantidad</th>
	  </tr>
	</thead>
	<tbody>
	#foreach($pp in $purchaseproducts)
	  <tr>
	    <td>$pp.Product.Name</td>
	    <td>#if ($pp.Comment) $pp.Comment #end</td>
	    <td>#if ($pp.EstimatedPrice) $pp.EstimatedPrice #end</td>
	    <td>$pp.Quantity</td>
	  </tr>
	#end
	</tbody>
</table>

<form id="formapprover" class="form-horizontal" action="torender" method="post">
	<input type="hidden" name="purchase.Id" value="$purchase.Id" />
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="textarea">Comentario</label>
			<div class="controls">
  				$FormHelper.TextArea("comment", "%{class='span6', rows='3', maxlength='250'}")
  				<div>Quedan <span id="charsLeft"></span> caracteres</div>
			</div>
		</div>

		<div class="form-actions">
			<button type="submit" id="btnapproval" class="btn btn-success">Conforme</button>
			<!--<button type="cancel" id="btnreject" class="btn btn-danger">Rechazar</button>-->
		</div>
	</fieldset>
</form>
<script type="text/javascript">
	jQuery('#comment').limit('250','#charsLeft');
</script>
