to: $to
from: $from
subject: $subject

Fue asignada una compra para su aprobacion, por el usuario $username con fecha $datepurchase

http://compras.gdelsur.com/purchase/approver.rails?idpurchase=$idpurchase

Saludos Cordiales,
Departamento de compras.
